Invoke/bpelContent/CreditCheckService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.check.credit" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.check.credit">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.check.credit">
            <xs:element name="verefication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="vereficationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="vereficationRequest">
        <wsdl:part name="parameters" element="ns:verefication"/>
    </wsdl:message>
    <wsdl:message name="vereficationResponse">
        <wsdl:part name="parameters" element="ns:vereficationResponse"/>
    </wsdl:message>
    <wsdl:portType name="CreditCheckServicePortType">
        <wsdl:operation name="verefication">
            <wsdl:input message="ns:vereficationRequest" wsaw:Action="urn:verefication"/>
            <wsdl:output message="ns:vereficationResponse" wsaw:Action="urn:vereficationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditCheckServiceSoap11Binding" type="ns:CreditCheckServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="verefication">
            <soap:operation soapAction="urn:verefication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditCheckServiceSoap12Binding" type="ns:CreditCheckServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="verefication">
            <soap12:operation soapAction="urn:verefication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditCheckServiceHttpBinding" type="ns:CreditCheckServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="verefication">
            <http:operation location="verefication"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditCheckService">
        <wsdl:port name="CreditCheckServiceHttpSoap11Endpoint" binding="ns:CreditCheckServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/CreditCheckService.CreditCheckServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditCheckServiceHttpSoap12Endpoint" binding="ns:CreditCheckServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/CreditCheckService.CreditCheckServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditCheckServiceHttpEndpoint" binding="ns:CreditCheckServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/CreditCheckService.CreditCheckServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
