Invoke/bpelContent/HomeAppraisalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://appraisal.home" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://appraisal.home">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://appraisal.home">
            <xs:element name="evaluation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LoanAmount" type="xs:double"/>
                        <xs:element minOccurs="0" name="HomePrice" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="evaluationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="evaluationRequest">
        <wsdl:part name="parameters" element="ns:evaluation"/>
    </wsdl:message>
    <wsdl:message name="evaluationResponse">
        <wsdl:part name="parameters" element="ns:evaluationResponse"/>
    </wsdl:message>
    <wsdl:portType name="HomeAppraisalServicePortType">
        <wsdl:operation name="evaluation">
            <wsdl:input message="ns:evaluationRequest" wsaw:Action="urn:evaluation"/>
            <wsdl:output message="ns:evaluationResponse" wsaw:Action="urn:evaluationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HomeAppraisalServiceSoap11Binding" type="ns:HomeAppraisalServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="evaluation">
            <soap:operation soapAction="urn:evaluation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HomeAppraisalServiceSoap12Binding" type="ns:HomeAppraisalServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="evaluation">
            <soap12:operation soapAction="urn:evaluation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HomeAppraisalServiceHttpBinding" type="ns:HomeAppraisalServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="evaluation">
            <http:operation location="evaluation"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HomeAppraisalService">
        <wsdl:port name="HomeAppraisalServiceHttpSoap11Endpoint" binding="ns:HomeAppraisalServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/HomeAppraisalService.HomeAppraisalServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HomeAppraisalServiceHttpSoap12Endpoint" binding="ns:HomeAppraisalServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/HomeAppraisalService.HomeAppraisalServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HomeAppraisalServiceHttpEndpoint" binding="ns:HomeAppraisalServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/HomeAppraisalService.HomeAppraisalServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
