Project_BPEL/bpelContent/ServicePlanification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://planification.tmax.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://planification.tmax.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://planification.tmax.com">
    <wsdl:documentation>ServicePlanification</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://planification.tmax.com/xsd">
            <xs:complexType name="Plan">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://planification.tmax.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://planification.tmax.com">
            <xs:import namespace="http://planification.tmax.com/xsd"/>
            <xs:element name="getPlan">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPlanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Plan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPlanRequest">
        <wsdl:part name="parameters" element="ns:getPlan"/>
    </wsdl:message>
    <wsdl:message name="getPlanResponse">
        <wsdl:part name="parameters" element="ns:getPlanResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicePlanificationPortType">
        <wsdl:operation name="getPlan">
            <wsdl:input message="ns:getPlanRequest" wsaw:Action="urn:getPlan"/>
            <wsdl:output message="ns:getPlanResponse" wsaw:Action="urn:getPlanResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicePlanificationSoap11Binding" type="ns:ServicePlanificationPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPlan">
            <soap:operation soapAction="urn:getPlan" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicePlanificationSoap12Binding" type="ns:ServicePlanificationPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPlan">
            <soap12:operation soapAction="urn:getPlan" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicePlanificationHttpBinding" type="ns:ServicePlanificationPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getPlan">
            <http:operation location="getPlan"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicePlanification">
        <wsdl:port name="ServicePlanificationHttpSoap11Endpoint" binding="ns:ServicePlanificationSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ServicePlanification.ServicePlanificationHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServicePlanificationHttpSoap12Endpoint" binding="ns:ServicePlanificationSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ServicePlanification.ServicePlanificationHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServicePlanificationHttpEndpoint" binding="ns:ServicePlanificationHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ServicePlanification.ServicePlanificationHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
