Project_BPEL/bpelContent/ServiceGestion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://gestion.tmax.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gestion.tmax.com">
    <wsdl:documentation>ServiceGestion</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gestion.tmax.com">
            <xs:element name="gerer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                        <xs:element minOccurs="0" name="ID" type="xs:int"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="gererResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="gererRequest">
        <wsdl:part name="parameters" element="ns:gerer"/>
    </wsdl:message>
    <wsdl:message name="gererResponse">
        <wsdl:part name="parameters" element="ns:gererResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServiceGestionPortType">
        <wsdl:operation name="gerer">
            <wsdl:input message="ns:gererRequest" wsaw:Action="urn:gerer"/>
            <wsdl:output message="ns:gererResponse" wsaw:Action="urn:gererResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceGestionSoap11Binding" type="ns:ServiceGestionPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="gerer">
            <soap:operation soapAction="urn:gerer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceGestionSoap12Binding" type="ns:ServiceGestionPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="gerer">
            <soap12:operation soapAction="urn:gerer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceGestionHttpBinding" type="ns:ServiceGestionPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="gerer">
            <http:operation location="gerer"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServiceGestion">
        <wsdl:port name="ServiceGestionHttpSoap11Endpoint" binding="ns:ServiceGestionSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ServiceGestion.ServiceGestionHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServiceGestionHttpSoap12Endpoint" binding="ns:ServiceGestionSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ServiceGestion.ServiceGestionHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServiceGestionHttpEndpoint" binding="ns:ServiceGestionHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ServiceGestion.ServiceGestionHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
